.background{
    background-color:#D0F2B6;
    width: 900px;
    height: 800px;
    margin: auto;
    padding:50px;
}
.banner{
    background-color:#A5DCC6;
    width: 800px;
    height:200px;
    padding: 40px;
    margin:auto;
}
.logo{
    margin:auto;
    margin-lefT:50px;
}
h1{
    font-family:Economica;
    float:right;
    font-size:100px;
    font-stretch:10px;
    margin: auto;
    margin-right:90px;
    text-align:center
}
.nav a{
    float:left;
	width:200px;
	text-decoration:none;
	color:white;
	background-color: #1B9765;
	padding: 10px;
	border-right:1px solid white;
	text-align:center;
	margin:auto;
}
a:hover{
    color: #cbe5ff;
    background-color: white;
}
.intro{
    background-color:#ADEC79;
    Width:700px;
    height: 400px;
    margin:auto;
    padding:50px;
}
.center{
    text-align:center;
}
.p1{
    font-size: 30px;
}
img{
    float:left;
    padding:10px;
}
.p2{
    font-size:20px;
    text-align:justify;
}
.button{
    text-align: center;
    font-size:20px;
    background-color: white;
}
div{
    font-family:Economica;
}